html{
	background-color: black;
	font-family: verdana;
	text-align: center;
}

h1{
	color: white;
	font-weight: normal;
	font-size: 50px;
}

h2{
	font-size: 42px;
	font-weight: 300;
	color: white;
}

p{
	font-size: 21px;
	color: gray;
}

.download{
	color: Aquamarine;
	font-size: 16px;
	text-decoration: underline;
}

.video{
	align-content: center;
}